[submodule ".local/share/nvim/site/pack/plugins/start/rainbow_parentheses.vim"]
	path = .local/share/nvim/site/pack/plugins/start/rainbow_parentheses.vim
	url = https://github.com/hirthwork/rainbow_parentheses.vim.git
[submodule ".local/share/nvim/site/pack/plugins/start/supertab"]
	path = .local/share/nvim/site/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".local/share/nvim/site/pack/plugins/start/vim-openscad"]
	path = .local/share/nvim/site/pack/plugins/start/vim-openscad
	url = https://github.com/sirtaj/vim-openscad
