XTerm*color4: deep sky blue
XTerm*color12: deep sky blue
UXTerm*color4: deep sky blue
UXTerm*color12: deep sky blue

XTerm*color1: red
UXTerm*color1: red

XTerm*color5: magenta
UXTerm*color5: magenta

XTerm*eightBitInput: false
XTerm*metaSendsEscape: true
XTerm*fullscreen: never
XTerm.omitTranslation: fullscreen
UXTerm*eightBitInput: false
UXTerm*metaSendsEscape: true
UXTerm*fullscreen: never
UXTerm.omitTranslation: fullscreen
