* {
    font-size: 15px;
    color: #aaaaaa !important;
    background-color: #000 !important;
    background-image: none !important;
    border-color: #555555 !important;
    font-family: Fixed !important;
}

a:link {
    color: #8888aa !important;
}

